    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>The Setup</h2>
              <h7 class="slogan">ideas are meant to outperform challenges.</h7>
              <br><br>
              <p>Built on the foundation laid down by the <a href="https://en.wikipedia.org/wiki/Maker_culture" target="_blank">Maker-Culture</a>, <a href="#page-top">Compose lab</a> is designed to be a wisdom vault holding in wealth of raw information.</p>
              <p>Collective interpretation of various disciplines means, integrated system from the mechanical form to their software functions is obtained.</p>
              <p>Low volume personalised designs can benefit the most from the service.</p>
              <br><br><br><br><br>
              <a href="#works" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
        </div>
    </section>
