<!-- Download Section -->
<section id="works" class="content-section text-center">
    <div class="works-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Ongoing projects</h2>
                <div class="case-study-gallery">
                  <div class="case-study study1">
                    <div class="case-study__overlay">
                      <h2 class="case-study__title">project<br>neuro</h2>
                      <a class="case-study__link" >Coming soon</a>
                    </div>
                  </div>

                  <div class="case-study study2">
                    <div class="case-study__overlay">
                      <h2 class="case-study__title">project<br>reachout</h2>
                      <a class="case-study__link" >Coming soon</a>
                    </div>
                  </div>
                </div>
                <a href="#contact" class="btn btn-circle page-scroll">
                  <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </div>
</section>
