    <!-- Download Section -->
    <section id="works" class="content-section text-center">
        <div class="works-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Ongoing projects</h2>
                    <br>
                      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <a href="work.html"><img src="assets/img/portfolio/folio01.png" class="img-responsive"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <a href="work.html"><img src="assets/img/portfolio/folio02.png" class="img-responsive"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <a href="work.html"><img src="assets/img/portfolio/folio03.png" class="img-responsive"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <a href="work.html"><img src="assets/img/portfolio/folio04.png" class="img-responsive"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <a href="work.html"><img src="assets/img/portfolio/folio04.png" class="img-responsive"></a>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                        <a href="work.html"><img src="assets/img/portfolio/folio04.png" class="img-responsive"></a>
                      </div>
                    <br><br><br>
                    <a href="#contact" class="btn btn-circle page-scroll">
                      <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
