    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <form method="POST" action="//formspree.io/{{ site.data.settings.email }}">

                  <fieldset class="contact-info-group">

                    <label><span>Your Name</span>
                    <input type="text" name="name"></label>

                    <label><span>Your Email</span>
                    <input type="email" name="_replyto"></label>

                  </fieldset>

                  <label><span>Tell us about your project</span>
                  <textarea name="message"></textarea></label>

                  <fieldset class="submit-wrap">
                    <input type="submit" value="Send">
                  </fieldset>

                </form>

                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
            </div>
        </div>
    </section>
